clean/**/*
superdir/output_dir
plan.txt
output
env
.pypirc
__pycache__
*.pyc
*.sw[op]
.*
!/.gitignore
scaffolder.egg-info
dist/**/*
dist
superdir.egg-info/**/*
superdir.egg-info/
pypi_steps.txt
build
